*{
    padding:5px;
    margin:0;
}
body{
    background-color: #212121;
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin-bottom:20px;
}
.nav1{
    background-color: #515151;
    width: 200px;
    padding: 20px;
    border:none;
    border-radius: 20px;
}
.nav1 ul{
    list-style-type: none;
    margin:0px;
    padding: 0px;
}
.nav1 li{
    margin-bottom: 12px;
}
.nav1 a{
    text-decoration: none;
    color:white;
    display: block;
    padding: 10px;
    width: 89%;
}
.nav1 a:hover{
    background-color: #818181;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav1 .login-btn{
    background-color: #15b5ff;
    color:#fff;
    border:none;
    border-radius: 20px;;
    width:100%;
    padding:10px;
    font-weight: bold;
    cursor:pointer;
}
.nav1 .login-btn:hover{
    background-color: #0bff40;
    color:#fff;
    font-weight: bolder;
}