*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #212121;
    color:aliceblue;
    width: 100vw;
    height: 100vh;
}
h2{
    margin:5px 5px;
}
nav{
    background-color: #000000;
    display:block;
    padding:10px;
}
ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
ul li{
    margin: 0px 50px;
}
.ulItem{
    text-decoration: none;
    color:aliceblue;
}
button{
    margin:0px;
    border:0;
    background-color: #10b3ff;
    box-sizing: content-box;
    padding:0;
    
}
#loginBtn{
    text-decoration: none;
    background-color: #10b3ff;
    color:aliceblue;
    font-weight: bold;
    margin:0;
    padding:4px;
    border-radius: 5px;
}
.ulItem:hover{
    color: #ff1616;
}
#loginBtn:hover{
    background-color: blue;
    font-weight: bolder;
}