/* *{
    margin: 0;
    padding: 0;
} */
body{
     font-family: Arial, Helvetica, sans-serif;
     margin: 0px;
     padding:20px;
     background-color: #1a1a1a;
     color:#fff;
}
.nav-container{
    margin-bottom: 40px;
}
h2{
    margin-bottom: 10px;
}
.nav1{
    background-color: #3f3f3f;
    border: none;
    border-radius: 18px;
    padding:10px;
}
.nav1 ul{
    list-style-type: none;
    display:flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav1 li{
    display: inline;/*this doesnot make any difference but still it makes the code more stable and known as a good practice*/
}
.nav1 a{
    text-decoration: none;
    color:#fff;
    padding: 5px 15px;
    position: relative;
}
.nav1 a::after{
    content:"";
    position: absolute;
    background-color: deepskyblue;
    width:100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}
.nav1 a:hover::after{
    transform: scaleX(1);
}
.login-btn{
    background-color: rgb(41, 73, 255);
    color:#fff;
    border:none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}