body{
    margin:0;
    padding: 0;
    background: linear-gradient(180deg, #0f0c29 0.00%, #302b63 50.00%, #24243e 100.00%);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    background: linear-gradient(180deg, #ddeeff 0.00%, #302b63 100.00%);
    padding:20px;
    border:none;
    border-radius: 40px;
    max-width: 350px;
}
#logo-img{
    height: 200px;
    width:200px;
    margin-bottom: 2px;
}
.content h2{
    color:#0f0c29;
}
.content p{
    color:#2e2e2e;
    font-weight: bold;
    font-style: italic;
}
.content form{
    display:flex;
    flex-direction: column;
}
.content input{
    padding:10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    border:none;
    border-radius: 10px;
}
.content button{
    padding:10px;
    background-color: #5c53b4;
    /* border: 1px solid #302b63; */
    border:none;
    color:antiquewhite;
    font-weight: bold;
    border-radius: 10px;
}
.content button:hover{
    border:0.5px solid #ffffff;
    background-color: #302b63;
}